$COLOR_LIGHT_RED: #e74c3c;
$COLOR_DARK_RED: #c0392b;
$COLOR_LIGHT_GREEN: #2ecc71;
$COLOR_DARK_GREEN: #27ae60;
$COLOR_LIGHT_BLUE: #3498db;
$COLOR_DARK_BLUE: #2980b9;
$COLOR_LIGHT_PURPLE: #9b59b6;
$COLOR_DARK_PURPLE: #8e44ad;
$COLOR_LIGHT_ORANGE: #e67e22;
$COLOR_DARK_ORANGE: #d35400;
$COLOR_LIGHT_YELLOW: #f1c40f;
$COLOR_DARK_YELLOW: #f39c12;
$COLOR_LIGHT_GRAY: #95a5a6;
$COLOR_DARK_GRAY: #7f8c8d;
$COLOR_LIGHT_WHITE: #ecf0f1;
$COLOR_DARK_WHITE: #bdc3c7;
$COLOR_LIGHT_BLACK: #34495e;
$COLOR_DARK_BLACK: #2c3e50;

$STATEMENT_PADDING_TOP: 10px;
$STATEMENT_PADDING_RIGHT: 0px;
$STATEMENT_PADDING_BOTTOM: 10px;
$STATEMENT_PADDING_LEFT: 10px;

$STATEMENT_MARGIN_BOTTOM: 10px;

$STATEMENT_BORDER_TOP_LEFT_RADIUS: 15px;
$STATEMENT_BORDER_TOP_RIGHT_RADIUS: 40px;
$STATEMENT_BORDER_BOTTOM_RIGHT_RADIUS: $STATEMENT_PADDING_BOTTOM;
$STATEMENT_BORDER_BOTTOM_LEFT_RADIUS: $STATEMENT_PADDING_BOTTOM;

$STRING_PADDING_TOP: 4px;
$STRING_PADDING_RIGHT: 4px;
$STRING_PADDING_BOTTOM: 4px;
$STRING_PADDING_LEFT: 4px;

$BLOCK_BORDER_RADIUS: 5px 20px;
$BLOCK_MARGIN: 5px 5px 5px 3px;
$BLOCK_PADDING: 5px;

* {
    display: block;
    box-sizing: border-box;
}

@mixin beforeString($str) {
    &:before {
        content: $str;
        color: $COLOR_LIGHT_WHITE;
        background-color: $COLOR_DARK_BLACK;
        padding:
            $STRING_PADDING_TOP
            $STRING_PADDING_RIGHT
            $STRING_PADDING_BOTTOM
            $STRING_PADDING_LEFT
            ;
        border-radius: 5px 10px;
    }
}

@mixin statement() {
    display: block;
    width: auto;
    margin-bottom: $STATEMENT_MARGIN_BOTTOM;
    padding:
        $STATEMENT_PADDING_TOP
        $STATEMENT_PADDING_RIGHT
        $STATEMENT_PADDING_BOTTOM
        $STATEMENT_PADDING_LEFT
        ;
    border-radius:
        $STATEMENT_BORDER_TOP_LEFT_RADIUS
        $STATEMENT_BORDER_TOP_RIGHT_RADIUS
        $STATEMENT_BORDER_BOTTOM_RIGHT_RADIUS
        $STATEMENT_BORDER_BOTTOM_LEFT_RADIUS
        ;
}

@mixin anidated() {
    .block, .form-array, .headers, .data {
        margin: $BLOCK_MARGIN;
        padding: $BLOCK_PADDING;
        background-color: $COLOR_LIGHT_BLACK;
        border-radius: $BLOCK_BORDER_RADIUS;
    }
}

@mixin content() {
    box-sizing: content-box;
    background-color: $COLOR_LIGHT_WHITE;
    font-family: mono;
}

.process-spec {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: sans-serif;
    padding: 10px;
    background-color: $COLOR_LIGHT_BLACK;

    .process-info {
        display: block;
        width: auto;

        .name {
            font-size: 30px;
            font-weight: bold;
            display: block;
            width: auto;
        }

        .author {
        }

        .public {
            @include beforeString("Public: ");
        }

        .description {
            font-size: 15px;
            color: $COLOR_LIGHT_WHITE;
            font-family: sans-serif;
            background-size: auto;
        }
    }

    .process {

        .name {
            font-size: 20px;
        }

        .if {
            @include statement();
            @include beforeString("If: ");
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .if-followed{
            @include statement();
            @include beforeString("If: ");
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;

            + .else, + .elif {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-top:
                    -$STATEMENT_MARGIN_BOTTOM;
            }
        }

        .elif {
            @include statement();
            @include beforeString("Elif: ");
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .else {
            @include statement();
            @include beforeString("Else: ");
            @include anidated()
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .condition {
            @include content();
        }

        .action {
            @include statement();
            @include beforeString("Action: ");
            background-color: $COLOR_LIGHT_PURPLE;

            .form-array {
                @include beforeString("Form array: ");
                @include anidated();

                .form {
                    @include beforeString("Form: ");

                    .input {
                        @include beforeString("Input: ");
                    }
                }
            }
        }

        .request {
            @include statement();
            @include beforeString("Request: ");
            background-color: $COLOR_DARK_BLUE;

            .url {
                @include beforeString("Url: ");
                @include content();
            }

            .headers {
                @include beforeString("Headers: ");
                .header {
                    @include content();
                    display: list-item;
                    margin: 4px;
                    margin-left:20px;
                    padding: 5px;
                }
            }

            .body {
                @include beforeString("Body: ");
                @include content();
            }
        }

        .validation {
            @include statement();
            @include beforeString("Validation: ");
            background-color: $COLOR_LIGHT_GREEN;
        }

        .call {
            @include statement();
            @include beforeString("Call: ");
            background-color: $COLOR_LIGHT_BLUE;
        }

        .exit {
            @include statement();
            @include beforeString("Exit: ");
            background-color: $COLOR_LIGHT_RED;
        }
    }
}
