$COLOR_LIGHT_RED: #e74c3c;
$COLOR_DARK_RED: #c0392b;
$COLOR_LIGHT_GREEN: #2ecc71;
$COLOR_DARK_GREEN: #27ae60;
$COLOR_LIGHT_BLUE: #3498db;
$COLOR_DARK_BLUE: #2980b9;
$COLOR_LIGHT_PURPLE: #9b59b6;
$COLOR_DARK_PURPLE: #8e44ad;
$COLOR_LIGHT_ORANGE: #e67e22;
$COLOR_DARK_ORANGE: #d35400;
$COLOR_LIGHT_YELLOW: #f1c40f;
$COLOR_DARK_YELLOW: #f39c12;
$COLOR_LIGHT_GRAY: #95a5a6;
$COLOR_DARK_GRAY: #7f8c8d;
$COLOR_LIGHT_WHITE: #ecf0f1;
$COLOR_DARK_WHITE: #bdc3c7;
$COLOR_LIGHT_BLACK: #34495e;
$COLOR_DARK_BLACK: #2c3e50;

$STATEMENT_PADDING_TOP: 10px;
$STATEMENT_PADDING_RIGHT: 5px;
$STATEMENT_PADDING_BOTTOM: 10px;
$STATEMENT_PADDING_LEFT: 10px;

$STATEMENT_MARGIN_BOTTOM: 10px;

$STATEMENT_BORDER_TOP_LEFT_RADIUS: 15px;
$STATEMENT_BORDER_TOP_RIGHT_RADIUS: 40px;
$STATEMENT_BORDER_BOTTOM_RIGHT_RADIUS: $STATEMENT_PADDING_BOTTOM;
$STATEMENT_BORDER_BOTTOM_LEFT_RADIUS: $STATEMENT_PADDING_BOTTOM;

$STRING_PADDING_TOP: 4px;
$STRING_PADDING_RIGHT: 4px;
$STRING_PADDING_BOTTOM: 4px;
$STRING_PADDING_LEFT: 4px;

$BLOCK_BORDER_RADIUS: 5px 20px;
$BLOCK_MARGIN: 5px 5px 5px 3px;
$BLOCK_PADDING: 5px;

@mixin statement() {
    display: block;
    width: auto;
    margin-bottom: $STATEMENT_MARGIN_BOTTOM;
    padding:
        $STATEMENT_PADDING_TOP
        $STATEMENT_PADDING_RIGHT
        $STATEMENT_PADDING_BOTTOM
        $STATEMENT_PADDING_LEFT
        ;
}

@mixin anidated() {
    .block, .form-array, .headers, .node-info {
        margin: $BLOCK_MARGIN;
        padding: $BLOCK_PADDING;
        background-color: $COLOR_LIGHT_BLACK;
        border-radius: $BLOCK_BORDER_RADIUS;
    }
}

@mixin content() {
    box-sizing: content-box;
    background-color: $COLOR_LIGHT_WHITE;
    font-family: monospace;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
}

.process-spec {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: sans-serif;
    padding: 10px;
    background-color: $COLOR_LIGHT_BLACK;

    .process-info {
        @include statement();
        background-color: $COLOR_LIGHT_WHITE;

        .author {
        }

        .name {
            font-size: 30px;
            font-weight: bold;
            display: block;
            width: auto;
        }

        .public {
        }

        .description {
            font-size: 15px;
            font-family: sans-serif;
            background-size: auto;
        }
    }

    .process {

        .name {
            font-size: 20px;
        }

        .block-title {
            display: inline-block;
            padding: 5px;
            font-size: 15px;
            color: $COLOR_LIGHT_WHITE;
            background-color: $COLOR_DARK_BLACK;
        }

        .if {
            @include statement();
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .if-followed{
            @include statement();
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;

            + .else, + .elif {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-top:
                    -$STATEMENT_MARGIN_BOTTOM;
            }
        }

        .elif {
            @include statement();
            @include anidated();
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .else {
            @include statement();
            @include anidated()
            background-color: $COLOR_LIGHT_YELLOW;
        }

        .condition {
            @include content();
        }

        .action {
            @include statement();
            @include anidated();
            background-color: $COLOR_LIGHT_ORANGE;

            .form-array {

                .form {

                    .input {
                    }
                }
            }
        }

        .request {
            @include statement();
            background-color: $COLOR_DARK_BLUE;

            .url {
                @include content();
            }

            .headers {
                .header {
                    @include content();
                    display: list-item;
                    margin: 4px;
                    margin-left:20px;
                    padding: 5px;
                }
            }

            .body {
                @include content();
            }
        }

        .validation {
            @include statement();
            background-color: $COLOR_LIGHT_GREEN;
        }

        .call {
            @include statement();
            background-color: $COLOR_LIGHT_BLUE;

            .procname {
                display: inline-block;
            }

            .data {

                .form {
                    padding: 5px;
                    background-color: $COLOR_DARK_PURPLE;
                    margin-bottom: $STATEMENT_MARGIN_BOTTOM;

                    .ref {
                        display: inline-block;
                    }

                    table {
                        width: 100%;
                    }

                    .input {

                        .name {
                        }

                        .type {
                        }
                    }
                }
            }
        }

        .exit {
            @include statement();
            background-color: $COLOR_DARK_RED;
        }
    }
}
